/* Resetting default button styles */
a {
    display: inline-block;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 20px;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Forma';
    font-weight: 900;
}

/* Outline button styles */
.outline {
    background-color: transparent;
    color: rgb(255, 242, 0);
    border: 2px solid rgb(255, 242, 0);
    transition: all 0.3s ease;
}

.outline:hover {
    background-color: rgb(255, 242, 0);
    color: black;
}